/* Base Application Styles */
.app {
	/*margin-top: 1rem;*/
}
.dataTable {
	clear: both;
	margin-bottom: 5rem;
}
.dataSeason {
	text-align: center;
	/*font-family: '微软雅黑';*/
}
.dateShow {
	margin-top: -1rem;
	margin-left: 1rem;
}
.tabHide {
	display: none !important;
}
.today {
	width: 20%;
}
.yesterday {
	width: 20%;
}
.lastWeek {
	width: 30%;
}
.season {
	width: 30%;
}
.tabFilter {
	margin-bottom: 2rem;
}
.tabFilter li {
	text-align: center;
}
.tabFilter li a {
	margin-right: 0px !important;
}
.tabFooter ul {
	background: #F6F6F6;
}
.tabFooter li {
	text-align: center;
}
.tabFooter li a {
	margin-right: 0px !important;
}
.footer-client {
	width: 50%;
}
.footer-cme {
	width: 50%;
}
.footer-me {
	width: 33%;
}
.footer-agent {
	width: 33%;
}
.footer-advertiser {
	width: 34%;
}
.tab-total {
	width: 25%;
}
.tab-total-75 {
	width: 75%;
}
.tab-pc {
	width: 25%;
}
.tab-wap {
	width: 25%;
}
.tab-date {
	width: 25%;
	float: left;
}
.date-select {
	width: 100%;
}
.login {
	margin: 25% 0;
	background: #eee;
	padding: 1rem 0;
	border-radius: 5px;
}
.login button {
	width: 100%;
}
.login-logo {
	width: 178px;
    height: 58px;
    margin: 0 auto 1rem;
    background: url(../images/logo.png) no-repeat;
}
.login-body {
	background: url(../images/bodybg.jpg);
}
.logout {
}
.logout button {
	position: absolute;
	top: 80%;
	width: 100%;
	border-radius: 0;
}
.logout-container {
	position: absolute;
	top: 10%;
	width: 100%;
}
.logout-logo {
	display: block;
	width: 178px;
    height: 58px;
    margin: 0 auto 1rem;
    /*background: url(../images/logo.png) no-repeat;*/
}
.logout-des {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30%;
}
.logout-des span{
	display: block;
	margin-bottom: 1rem;
}